<?xml version="1.0"?>
<!-- Transmission is important to link the joints and the controller -->
<transmission name="right_bridge_joint_trans">
	<type>transmission_interface/SimpleTransmission</type>
	<joint name="right_bridge_to_bridge" >
		<hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
	</joint>
	<actuator name="right_bridge_joint_motor">
		<hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
		<mechanicalReduction>1</mechanicalReduction>
		<motorTorqueConstant>100</motorTorqueConstant>
	</actuator>
</transmission>
