<launch>
    <!-- 启动 controller_manager 节点 -->
    <node pkg="controller_manager" type="controller_manager" name="controller_manager" output="screen"/>

    <!-- 加载控制器配置文件 -->
    <rosparam name="controller_config" command="load" file="$(find gisbot_localization_1)/config/ackermann_controller_test.yaml"/>

    <!-- 启动控制器 -->
    <node pkg="controller_manager" type="controller_manager" name="controller_manager" args="spawn back_left_wheel_velocity_controller" />
    <node pkg="controller_manager" type="controller_manager" name="controller_manager" args="spawn back_right_wheel_velocity_controller" />
    <node pkg="controller_manager" type="controller_manager" name="controller_manager" args="spawn front_left_wheel_velocity_controller" />
    <node pkg="controller_manager" type="controller_manager" name="controller_manager" args="spawn front_right_wheel_velocity_controller" />
    <node pkg="controller_manager" type="controller_manager" name="controller_manager" args="spawn front_left_wheel_joint_position_controller" />
    <node pkg="controller_manager" type="controller_manager" name="controller_manager" args="spawn front_right_wheel_joint_position_controller" />

</launch>
