<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- Load joint controller configurations from YAML file to parameter server -->
  <!--rosparam file="$(find gisbot_localization_1)/config/ackermann_controller.yaml" command="load"/-->
 
  <!-- load controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
        output="screen" args="ackermann_steering_controller"/>
  
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
        respawn="true" output="screen">
      <remap from="/joint_states" to="/my_car/joint_states" />
  </node>
  
  <node pkg="gisbot_localization_1" type="cmd_vel_test.py" 
        name="cmd_vel_publisher" output="screen"/>

</launch>