<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!-- Load joint controller configurations from YAML file to parameter server -->
    <rosparam file="$(find gisbot_localization_1)/config/gisbot_controller.yaml" command="load"/>
    <!-- 启动控制器管理器 -->
    <node name="controller_manager" pkg="controller_manager" 
          type="controller_manager"  output="screen"/>

    <!-- load controllers -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
        output="screen" ns="/my_car" 
        args="joint_state_controller 
        back_left_wheel_velocity_controller 
        back_right_wheel_velocity_controller 
        front_left_wheel_joint_position_controller 
        front_right_wheel_joint_position_controller"/>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
      respawn="true" output="screen">
      <remap from="/joint_states" to="/my_car/joint_states" />
    </node>
 
    <node name="cmdvel2gazebo" pkg="gisbot_localization_1" type="cmdvel2gazebo.py" respawn="true" output="screen"/>
 
</launch>